# LLM Configuration 
LLM_MODEL_NAME= "llm_model_name"


# VLM Configuration
OPENAI_API_KEY='your_openai_api_key_here'
OPENAI_BASE_URL='https://openrouter.ai/api/v1'
VLM_MODEL_NAME='vlm_model_name'

# Google Search API
GOOGLE_SEARCH_ENGINE_KEY = 'your_google_search_engine_key_here'
GOOGLE_ID_CSE = 'your_google_cse_id_here'